.Menu {
    float: left;
    height: 100vh;
    background-color: #034383;
    color: #fff;
    border-right: 5px solid #006c90;
}

.Menu nav {
    flex: 1;
}

.Menu ul {
    list-style: none;
    padding: 0;
}

.Menu li {
    border-bottom: 5px solid #006c90;
    display: flex;
}

/*a tag a refere-se ao Link */
.Menu li a {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.Menu li a:hover {
    background: #00000020;
}
